.country {
  &__title {
    color: #b47c4b;
  }
  &__card {
    display: flex;
  }
  &__img {
    width: 400px;
    border-radius: 10px;

    animation-name: flipInX;
    animation-duration: 1000ms;

    @media screen and (max-width: 600px) {
      width: 200px;
    }
  }
  &__information {
    margin-left: 30px;
    color: #b47c4b;
    @media screen and (max-width: 600px) {
      margin-left: 16px;
    }
  }
}
