.country {
  &__title {
    color: #b47c4b;
  }
  &__card {
    display: flex;
  }
  &__img {
    width: 400px;
    animation-name: flipInX;

    animation-duration: 1000ms;
    border-radius: 10px;
  }
  &__information {
    margin-left: 30px;
    // color: #e7ddd2;
    color: #b47c4b;
  }
}
